@import url('../quicksand/quicksand.css');

:root {
    --bs-font-sans-serif: Quicksand, sans-serif;
}

@media(min-width: 768px) {
    html,
    body {
        height: 100%;
    }
    body {
        display: flex;
        flex-direction: column;
    }
}