{{ define "stylesheet" }}
	<link rel="stylesheet" href="/assets/css/single.css">
{{ end }}

{{ define "svg" }}
	<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
		<symbol id="check2-circle" viewBox="0 0 16 16">
			<path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
			<path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
		</symbol>
		<symbol id="geo-alt-fill" viewBox="0 0 16 16">
			<path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
		</symbol>
	</svg>
{{ end }}

{{ define "main" }}
	<header class="bg-image-full d-flex align-items-center mb-5" style="background-image: url('https://source.unsplash.com/{{ .Params.unsplash }}/1920x807');">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-9 col-lg-7 col-xl-6">
					<div class="text-center">
						<h1>{{ .Page.Title }}</h1>
						<p class="lead">{{ .Page.Params.description }}</p>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="container mb-5">
		{{ if .Page.Params.pranala }}
			<div class="row justify-content-center">
				<div class="col-md-9 col-lg-7 col-xl-6 offset-lg-1 offset-xl-3">
					{{ .Content }}
					<div class="text-end text-body-secondary border-top py-2">
						Laman diperbarui {{ time.Format "2" .Page.Params.lastmod }} {{ index .Site.Data.bulan (time.Format "1" .Page.Params.lastmod) }} {{ time.Format "2006" .Page.Params.lastmod }}
					</div>
				</div>
				<div class="col-md-9 col-lg-3 col-xxl-2 offset-xxl-1 mt-sm-5 mt-lg-0">
					<h5 class="mb-3">Pranala</h5>
					<div class="list-group">
						{{ range .Page.Params.pranala }}
							<a href="{{ .link }}" target="_blank" rel="index, follow" class="list-group-item list-group-item-action">{{ .title }}</a>
						{{ end }}
					</div>
				</div>
			</div>
		{{ else  }}
			<div class="row justify-content-center">
				<div class="col-md-9 col-lg-7 col-xl-6">
					{{ .Content }}
					<div class="text-end text-body-secondary border-top py-2">
						Laman diperbarui {{ time.Format "2" .Page.Params.lastmod }} {{ index .Site.Data.bulan (time.Format "1" .Page.Params.lastmod) }} {{ time.Format "2006" .Page.Params.lastmod }}
					</div>
				</div>
			</div>
		{{ end }}
	</div>
{{ end }}

{{ define "javascript" }}
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function() {
			document.getElementById("navbar-{{ .Page.Params.url }}").classList.add("active");
		});
	</script>
{{ end }}