{{ define "stylesheet" }}
	<link rel="stylesheet" href="/assets/css/home.css">
{{ end }}

{{ define "main" }}
	<div class="hero d-flex align-items-center">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-9 col-md-9 col-lg-7 col-xl-6 col-xxl-5 offset-sm-3 offset-md-3 offset-lg-4 offset-xxl-3">
					<h1 class="text-body-emphasis">MANCITOSH</h1>
					<p class="lead">Madrasah Aliyah Negri 1 Ponorogo Competition Information Technology Olimpiade Science, Sosial, Speech.</p>
					<a href="#" class="btn btn-warning rounded-pill px-3">Ayo Daftar!</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xxl-6">
				<h2>Selamat Bertanding</h2>
			</div>
		</div>
	</div>
{{ end }}
